body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 55px;
}

.donation-container {
    background-color: #E7EA5E;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
}

.qrcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.qrcode-container img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .donation-container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .qrcode-container img {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .donation-container {
        padding: 15px;
        width: 95%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .qrcode-container img {
        width: 250px;
    }
}