body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 80px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-main {
    display: none;
    align-items: center;
    background-color: #2D529E;
    padding: 9px;
}

@media (max-width: 767px) {
    .footer-main {
        display: none;
    }
}

.footer-logo-main {
    width: 43px;
    height: 41px;
    margin-right: 15px;
}

.footer-section {
    border-left: 1px solid white;
    padding-left: 10px;
    margin-left: 10px;
    color: #EAFF00;
}

.footer-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D529E;
    padding: 5px 20px;
    width: auto;
}

.footer-secondary p {
    color: #EFF168;
    font-size: 1em;
    margin: 0;
}

.footer-logo-secondary {
    width: 15px;
    height: 19px;
}

/* Responsividade */
@media (max-width: 767px) {
    .footer-main{
        flex-wrap: wrap;
    }
    .footer-secondary {
        flex-direction: column;
        padding: 10px 10px;
    }

    .footer-logo-secondary {
        width: 20px;
        height: 25px;
    }

    .footer-secondary p{
        text-align: center;
        margin-top: 5px;
    }
}